* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
  background-color: #f0f0f0; /* Light background */
  color: #222222; /* Dark text */
  margin: 0;
  overflow-x: hidden; /* Prevent horizontal overflow */
}

.shimmer-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /*need to adjust for mobile*/
  height: 100%;
  overflow: hidden;
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.05)); /* Slight shimmer effect for light theme */
  animation: shimmer 6s infinite linear;
}

.shimmer1 {
  animation: shimmer 8s infinite linear reverse;
}

.shimmer2 {
  animation: shimmer 10s infinite linear;
}

.shimmer3 {
  animation: shimmer 12s infinite linear reverse;
}

@keyframes shimmer {
  0% {
      transform: translate(-100%, -100%) rotate(45deg);
  }
  100% {
      transform: translate(100%, 100%) rotate(45deg);
  }
}

.container {
  text-align: center;
  padding: 2rem;
  background: rgba(254, 254, 254, 1); /* Light container background */
  color: #222222; /* Dark text */
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 1;
  max-width: 800px;
  width: 90%;
  margin: 0 1rem; /* Ensure some margin for small screens */
}

.logo {
  animation: fadeInUp 1s ease-out;
}

.logo img {
  width: 150px; /* Adjust size as needed */
  height: auto;
  border-radius: 50%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

p {
  font-size: 1rem;
  margin-bottom: 1.5rem;
}

#social-icons {
  margin-top: 1.5rem;
}

.social-icon {
  display: inline-block;
  font-size: 1.5rem;
  color: #07AD92; /* Light theme button color */
  margin: 0 10px;
  transition: transform 0.3s;
}

.social-icon:hover {
  transform: translateY(-3px);
}

/* Footer Styles */
.footer {
  display: flex;
  background-color: #f0f0f0; /* Light footer background */
  color: #222222; /* Dark text */
  justify-content: center;
  align-content: center;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .container {
      padding: 1rem;
      margin: 0 1rem; /* Ensure some margin for small screens */
  }
  h1 {
      font-size: 2rem;
  }
  p {
      font-size: 1rem;
  }
  .shimmer-background {
      width: 25%;
  }   
}
